<%= form_tag messages_confirmation_path, {:method => 'GET'} do %>
	<div class = "field">
		<br>
		<%= label_tag(:message, "Message") %> <br>
		<%= text_area_tag :message, "", :size => "70x20" %> <br><br>
		
		<input type="hidden" name="request_id" value= <%="#{params[:request_id]}" %> >
	</div>

	<div class = "actions">
		<%= submit_tag "Send message" %>
	</div>

	<br><br><br>
<% end %>



<!-- INSTALL ERB SNIPPETS -->