
<h1>Create an account</h1>

<%= form_for(@user, :url => users_path) do |f| %>

	<%= f.label "Name" %><br/><%= f.text_field :username %>

      <br/>
 	 

	<%= f.label "Organization" %><br/><%= f.text_field :org_name %>

 	   <br/>

	<%= f.label "Location" %><br/><%= f.text_field :location %>

	 	 <br/><br/>

	<%= f.label "Specialty" %><br/><%= f.select :specialty, ["Hospital", "TBD", "TBD"] %>

  <br/><br/>

  <%= f.submit %>
<% end %>


<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email, autofocus: true %></div>

  <div><%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" %></div>

  <div><%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %></div>

   <div? <%= f.label "Name" %><br />
	<%= f.text_field :username %></div>

  <div><%= f.label "Organization" %><br />
    <%= f.text_field :org_name %></div>

  <div><%= f.label "Location" %><br />
    <%= f.select :location, @locations %></div>

  <div><%= f.label "Specialty" %><br />
    <%= f.select :specialty, @specialties  %></div>

  <div><%= f.submit "Sign up" %></div>
<% end %>

<%= render "devise/shared/links" %>

