<h1>Create an account</h1>

<p>Create an account to receive alerts and post needs.</p>

<%= form_for(@user, :url => users_path) do |f| %>

	<%= f.label "Name" %>
	<%= f.text_field :username %>

 	 <br/>

	<%= f.label "Organization" %>
	<%= f.text_field :org_name %>

 	 <br/>

	<%= f.label "Location" %>
	<%= f.text_field :location %>

	 	 <br/>

	<%= f.label "Specialty" %>
	<%= f.select :specialty, ["Hospital", "TBD", "TBD"] %>

  <br/>

  <%= f.submit %>
<% end %>
