<h1>Create an account</h1>

<%= form_for(@user, :url => users_path) do |f| %>

	<%= f.label "Name" %><br/><%= f.text_field :username %>

      <br/>
 	 

	<%= f.label "Organization" %><br/><%= f.text_field :org_name %>

 	   <br/>

	<%= f.label "Location" %><br/><%= f.text_field :location %>

	 	 <br/><br/>

	<%= f.label "Specialty" %><br/><%= f.select :specialty, ["Hospital", "TBD", "TBD"] %>

  <br/><br/>

  <%= f.submit %>
<% end %>
