<%= form_for(@request) do |f| %>
	<div class = "field">
		<!--Displays the anonymous username at top of their form - may need to change when re-seeded -->
		<%= f.label "From: #{User.find(2).username}"  %><br>
		<!--Gives description text field -->
		<%= f.label :description %><br>
		<%= f.text_field :description %><br>
		<!--Gives drop-down of need type for request filtering -->
		<%= f.label "Type of Need" %>
		<%= f.select :need_id, @need_types %>
	</div>
	<div class = "actions">
		<%= f.submit %>
	</div>
<%end%>