<%= form_tag "/requests/update", {:method => 'PUT'} do %>
	<div class = "field">
		<br>
		<%= label_tag(:message, "Meeting Request Message") %> <br>
		<%= text_area_tag :message, "", :size => "70x20" %> <br><br>

		<%= check_box_tag(:fulfill, 1) %>
		<%= label_tag(:fulfill, "I am fulfilling this request") %><br><br>
				
		<input type="hidden" name="request_id" value= <%="#{params[:request_id]}" %> >
	</div>

	<div class = "actions">
		<%= submit_tag "Send message" %>
	</div>

	<br><br><br>
<% end %>