
<div id="requests_forum">
<h1>Requests Forum </h1>

<table class = "table table-hover">
	<thead>
		<%= link_to "New Request", new_request_path %>
		<tr>
			<th>Requestor Name</th>
			<th>Need_Id</th>
			<th>Need Type</th>
			<th>Location</th>
			<th>Date</th>
			<th>Send Message</th>
			<th>Meet Request</th>
		</tr>
	</thead>
	<tbody>
		<% @requests.each do |request| %>
			<tr data-link="<%= request_path(request) %>" class = "requests_table_row" >
				<td><%= request.user.username %></td>
				<td><%= request.need_id %></td>
				<td><%= @needs_hash[request.need_id] %></td>
				<td><%= request.user.location %></td>
				<td><%= request.created_at %></td>
				<td><%= link_to image_tag("/assets/email_icon.png"), "/messages/new?request_id=#{request.id}" %></td>
				<td><%= link_to image_tag("/assets/handshake.png"), "/requests/meet?request_id=#{request.id}" %></td>
			</tr>
			<% end %>
	</tbody>
</table>

</div>

<br><br><br>
<%= link_to "View Activity Feed", "/requests?status=met" %>

