<!-- if this isn't working (on Heroku in particular), try destroying all requests and re-assinging the user id in twilio controller -->
<% if @status == "met" %>

<div class = "activities_body">
	<div style="float: left" class="chart_area">
			<h1>Activity Feed </h1>
			<h2 class = "request_count"><%= "#{@requests.count} Requests Met To-Date!" %></h2>
			<script type="text/javascript" src="https://www.google.com/jsapi"></script>
			<script type="text/javascript">
				google.load("visualization", "1", {packages:["corechart"]});
				google.setOnLoadCallback(drawChart);
				function drawChart() {
				var data = google.visualization.arrayToDataTable([
				['Health Provider', 'Requests Fulfilled'],
				<% @counts.each_with_index do |(name, count), index| %>
					[ '<%=name%>' , <%=count%> ] <%="," unless index == @counts.size-1 %>
				<% end %>
				]);
				var options = {
					// animation: {duration: 2000, easing: 'out',},
					backgroundColor: 'transparent',
					width: 700, height: 500,
					title: 'Health Provider Performance: Number of Requests Fulfilled',
					vAxis: {title: 'Provider Name',  titleTextStyle: {color: 'black'}}
					// animation:{
						//      		duration: 1000,
						//      		easing: 'in'
						//    		},
				};

				// setTimeout(function(){
				// 	chart.draw(data, options);
				// },1000);

				var chart = new google.visualization.BarChart(document.getElementById('chart_div'));
					chart.draw(data, options);
				}
			</script>
		<div id="chart_div" style="width: 900px; height: 500px;"></div>
	</div>
	<div class = "forum_wrapper" style="float: right">
		<table class = "table table-hover" id="table">
			<thead>
				<tr>
					<th>Fulfiller Name</th>
					<th>Need Fulfilled</th>
					<th>Need Type</th>
					<th>Date</th>
				</tr>
			</thead>
			<tbody>
				<% @requests.each do |request| %>
				<tr data-link="<%= request_path(request) %>" class = "requests_table_row" >
					<td><%= request.fulfiller %></td>
					<td><%= request.description %></td>
					<td><%= @needs_hash[request.need_id] %></td>
					<td><%= request.updated_at %></td>
				</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>
<% else %>
	<h1 class = "title"> Requests Forum </h1>
	<!-- Modal Button -->
	<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
	New Request
	</button>
	<a class="btn btn-lg btn-primary" href="/requests?status=met" role="button">View Fulfilled Requests</a>
	<!-- The Modal -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog" id = "new_request_modal">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					<h4 class="modal-title" id="myModalLabel">Create New Request</h4>
				</div>
				<div class="modal-body">
					
					<div id="new_request">
						<%= form_for(@request) do |f| %>
						<div class = "field">
							<!--Displays the current user's organization name at top of their form -->
							<%= f.label "From: #{current_user.org_name}" %><br>
							<!--Gives description text field -->
							<%= f.label :description %><br>
							<%= f.text_field :description, :size => "40x30" %><br>
							<!--Gives drop-down of need type for request filtering -->
							<%= f.label "Type of Need" %>
							<%= f.select :need_id, @need_types %>
						</div>
						
						
					</div>
				</div>
				<div class="modal-footer">
					<div class = "actions"><%= f.submit %></div>
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<%end%>
				</div>
			</div>
		</div>
	</div>
	<div class = "requests_wrapper">
		<table class = "table table-hover" id = "table">
			<thead>
				<tr>
					<th>Requestor Name</th>
					<th>Need Type</th>
					<th>Description</th>
					<th>Date</th>
					<th>Send Message</th>
					<th>Meet Request</th>
				</tr>
			</thead>
			<tbody>
				<% @requests.each do |request| %>
				<tr class = "requests_table_row" >
					<td><%= request.user.username %></td>
					<td><%= @needs_hash[request.need_id] %></td>
					<td><%= request.description %></td>
					<td><%= request.created_at %></td>
					<td>
						<a id="mail_icon" data-toggle="modal" data-target="#request<%= request.id %>"><img src="/assets/email_icon.png"></a></td>
					<td>
						<a id="handshake_icon" data-toggle="modal" data-target="#meet<%= request.id %>"><img src="/assets/handshake.png"></a>
					</td>
				</tr>
				
				<%= render :partial => 'send_message', :locals => {:req => request} %>
				
				<div class="modal fade" id="meet<%= request.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
								<h4 class="modal-title" id="myModalLabel">Meet Request</h4>
							</div>
							<div class="modal-body">
								<%= form_tag "/requests/update?status=met", {:method => 'PUT'} do %>
									<div class = "field">
										<br>
										<%= label_tag(:message, "Meeting Request Message") %> <br>
										<%= text_area_tag :message, "", :size => "70x20" %> <br><br>
										<%= check_box_tag(:fulfill, 1) %>
										<%= label_tag(:fulfill, "I am fulfilling this request") %><br><br>
										<input type="hidden" name="request_id" value= <%="#{request.id}" %> >
									</div>
									<div class="modal-footer">
										<div class="actions">
											<%= submit_tag "Meet Request", class: "btn btn-primary" %>
										</div>
									</div>
								<% end %>
							</div>
						</div>
					</div>
				<% end %>	
			</tbody>
		</table>
	</div>
<% end %>
