<h1>Requests Forum </h1>

<table>
	<thead>
		<%= link_to "New Request", new_request_path %>
		<tr>
			<th>Requestor Name</th>
			<th>Request Category</th>
			<th>Location</th>
			<th>Date</th>
			<th>Contact</th>
		</tr>
	</thead>
	<tbody>
		<% @requests.each do |request| %>
			<tr>

				<td><%= current_user.org_name %></td>
				<td><%=  %></td>
				<td><%= request.description %></td>
				<td><%= request.created_at %></td>
				<td><%= request.id %></td>
			</tr>
			<% end %>
	</tbody>
</table>
