<h1>Request from <%= @request.user.username %></h1>
<p>
	Need type: <%= @needs_hash[@request.need_id] %><br>
	Request location: <%= @request.user.location %><br>	
	Request Text: <%= @request.description %><br>
</p>

<%= link_to "Back", requests_path %>