<br><br><br><br>
<h1>Activity Feed </h1>

<table class = "table table-hover">
	<thead>
		<tr>
			<th>Fulfilled By</th>
			<th>Requestor Name</th>
			<th>Need Type</th>
			<th>Description</th>
			<th>Location</th>
			<th>Date Met</th>
		</tr>
	</thead>
	<tbody>
		<% @requests.each do |request| %>
			<tr data-link="<%= request_path(request) %>" class = "requests_table_row" >
				<th><%=	"someone"	%></td>
				<td><%= request.user.username %></td>
				<td><%= @needs_hash[request.need_id] %></td>
				<td><%= request.description %></td>
				<td><%= request.user.location %></td>
				<td><%= request.updated_at %></td>
			</tr>
			<% end %>
	</tbody>
</table>

<%= link_to "View Unfulfilled Requests", requests_path %>