<h1>Your Notifications </h1>
<div class="needoptin_link"><%= link_to "New Notification", new_needoptin_path %></div>
<div class="needoptin_table">
<table class = "table table-hover">
	<thead>
		<tr>
			<th>Need Type</th>
			<th>Recipient</th>
		</tr>
	</thead>
	<tbody>
			<% current_user.needoptins.all.each do |needoptin| %>
				<td><%= @needs_hash[needoptin.need_id] %></td>
				<td><%= needoptin.user.email %></td>
				<td><%= link_to "Delete Notification", needoptin_path(needoptin), :method => :delete %></td>
			</tr>
			<% end %>
	</tbody>
</table>
</div>

<div class="needoptin_link"><%= link_to "Back to Account Profile", users_path %>
