<!DOCTYPE html>
<html>
  <head>
    <title>HealthApp</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <link href='http://fonts.googleapis.com/css?family=Lato|Open+Sans:300|Roboto:100,300,500|Raleway:700|Oxygen:300|Signika:300' rel='stylesheet' type='text/css'>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <nav>
      <div class="fixed">
        <a href = "/"><%= image_tag 'logo.png', id: 'logo_img', class: "logo" %></a>
      </div>
      <ul>
        <% if current_user.nil? %>
          <li><%= link_to "CONTACT US", pages_contact_path %></li>
          <li><%= link_to "ABOUT", pages_about_path %></li>
          <li><%= link_to "HOME", root_path %></li>
        <% elsif !current_user.nil? %>
          <li><p><%= "WELCOME, #{current_user.username}!" %><br><%= link_to 'Sign Out', destroy_user_session_path, :method => :delete %></li>
          <li><%= link_to "PROFILE", users_path %></li>
          <li><%= link_to "REQUESTS", requests_path %></li>
          <li><%= link_to "ACTIVITY FEED", "/requests?status=met" %></li>
        <% end %>
      </ul>
      <div>
    </nav>
      <p class="alert"><%= alert %></p>
    <%= yield %>
    <div class="footer">
        <% if user_signed_in? %>
          <%= link_to 'Sign Out', destroy_user_session_path, :method => :delete %>
        <% else %>
        <% end %>
    </div>
  </body>
</html>
