<!DOCTYPE html>
<html>
<head>
  <title>HealthApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="fixed">
    <div class="logo">
<%= image_tag 'logo.png', height: "100", width: "250"%>
</div>
</div>
<div id="navigation">
	<nav>
  <ul>
	 <li><a href="/home">CONTACT US</a></li>
	 <li><a href="/about">ABOUT</a></li>
	 <li><a href="/contact">HOME</a></li>
	</ul>
  </nav>
</div>

<%= yield %>

</body>
</html>
